*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-left: 15px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1440px;
  }
}

.nav-icons-right {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .search-icon {
    margin-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .search-icon {
    position: absolute;
    color: red;
  }
}

@media screen and (min-width: 1200px) {
  .button-feedback {
    cursor: pointer;
    border: 1px solid #b4b4b4;
    height: 127px;
    left: 1425px;
    top: 200px;
    background: #ffffff;
    border-radius: 3px 0px 0px 3px;
    height: 40px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    font-family: "Pan Display";
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #27251f;
    color: red;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Pan Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.145em;
  color: #71706c;
  margin-bottom: 18px;
}

.title {
  font-family: "Pan Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
  letter-spacing: 0.017em;
  margin-bottom: 20px;
  color: #27251f;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.017em;
    margin-bottom: 5px;
    color: #27251f;
  }
}

.search-form {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .form-field {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .form-field {
    position: relative;
  }
}

.search-icon__svg {
  position: absolute;
  top: 10px;
  left: 20px;
}

@media screen and (max-width: 1199px) {
  .text-field__input {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .text-field__input {
    width: 241px;
    height: 41px;
    padding-left: 60px;
    border: 1px solid #f5f5f5;
  }
}

@media screen and (max-width: 1199px) {
  ::-webkit-input-placeholder {
    display: none;
  }
  :-ms-input-placeholder {
    display: none;
  }
  ::-ms-input-placeholder {
    display: none;
  }
  ::placeholder {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  ::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #b4b4b4;
  }
  :-ms-input-placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #b4b4b4;
  }
  ::-ms-input-placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #b4b4b4;
  }
  ::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #b4b4b4;
  }
}

@media screen and (max-width: 1199px) {
  .icon-icon_location {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .img-hero {
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .img-hero {
    display: none;
  }
}

.img-gallary {
  list-style: none;
}

@media screen and (min-width: 1199px) {
  .img-gallary {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .img-gallary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px;
    width: 900px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .img-gallary_list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .img-gallary_list {
    width: 400px;
    margin: 10px;
  }
}

.sale-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  list-style-type: none;
}

@media screen and (min-width: 1200px) {
  .sale-price {
    margin-bottom: 20px;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 330px;
  font-family: "Pan Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.017em;
  margin-bottom: 30px;
  color: #27251f;
}

.price-sale {
  color: #d2255b;
}

.full-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: line-through;
  margin-right: 10px;
}

@media screen and (max-width: 1439px) {
  .interview {
    margin-bottom: 50px;
    width: 360px;
    margin-bottom: 4px;
    font-family: "Pan Display";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #27251f;
  }
}

.question-title {
  margin-bottom: 32px;
  font-family: "Pan Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #27251f;
}

.answer-si {
  display: block;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  width: 330px;
  height: 45px;
  background: #27251f;
  border-radius: 3px;
  color: #ffffff;
}

.answer-no {
  display: block;
  cursor: pointer;
  width: 330px;
  height: 45px;
  right: 15px;
  bottom: 50px;
  border: none;
  background: #ffcad4;
  border-radius: 3px;
}

.itemDescriptionWrapper {
  display: block;
}

@media screen and (min-width: 1200px) {
  .itemDescriptionWrapper {
    margin-left: 75px;
  }
}

.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .header-box {
    width: 360px;
    border-bottom: 5px solid #ffcad4;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-box {
    width: 100%;
    border-bottom: 5px solid #ffcad4;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper {
    width: 360px;
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
  }
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1199px) {
  .basket-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .icon-svg {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .logo-icon {
    left: calc((100% - 170px) / 2);
    position: absolute;
    bottom: 22px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 1200px) {
  .logo-icon {
    left: calc((100% - 120px) / 2);
    bottom: 20px;
  }
}

.logo-icon {
  margin-left: 30px;
}

.nav-icons-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .search-mobile__svg {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .link-nav {
    width: 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
}

@media screen and (min-width: 1200px) {
  .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
}

.icon-icon_location {
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .menu-icon {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--slide-size);
          flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(45deg, var(--brand-primary), var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__dot,
.embla__button {
  background-color: transparent;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  bottom: 1.2rem;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.embla__dot {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: var(--background-site);
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.embla__dot--selected:after {
  background: linear-gradient(45deg, var(--brand-primary), var(--brand-secondary));
}

.embla__button {
  z-index: 1;
  color: var(--background-site);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.embla__button--prev {
  left: 1.6rem;
}

.embla__button--next {
  right: 1.6rem;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

.sandbox {
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;
}

.sandbox__carousel {
  background-color: var(--background-code);
}

.sandbox__carousel {
  position: relative;
}

@media (min-width: 750px) {
  .sandbox__carousel {
    border-radius: 0.4rem;
  }
}

.sandbox__header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}

.sandbox__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 4rem 2rem;
}

.sandbox__footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  text-decoration: none;
  border-radius: 3rem;
  text-align: center;
  font-weight: bold;
  color: var(--text-low-contrast);
  font-size: 1.4rem;
}

.sandbox__footer__link__svg {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */